sernet.gs.ui.rcp.main/src/ITBP2VNA/ITBP.xsd

<?xml version="1.0" encoding="UTF-8"?>



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document" type="documentType"/>
  <xs:complexType name="introductionType">
    <xs:sequence>
      <xs:element type="xs:string" name="p"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="purposeType">
    <xs:sequence>
      <xs:element type="xs:string" name="p"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="differentiationType">
    <xs:sequence>
      <xs:element type="xs:string" name="p"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descriptionType">
    <xs:sequence>
      <xs:element type="introductionType" name="introduction" minOccurs="0"/>
      <xs:element type="purposeType" name="purpose" minOccurs="0"/>
      <xs:element type="differentiationType" name="differentiation" minOccurs="0"/>
      <xs:element type="xs:string" name="p" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specificThreatType">
    <xs:sequence>
      <xs:element type="xs:string" name="headline"/>
      <xs:element type="descriptionType" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specificThreatsType">
    <xs:sequence>
      <xs:element type="specificThreatType" name="specificThreat" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="threatScenarioType">
    <xs:sequence>
      <xs:element type="descriptionType" name="description"/>
      <xs:element type="specificThreatsType" name="specificThreats"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="furtherResponsibleRolesType">
    <xs:sequence>
      <xs:element type="xs:string" name="role" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciaType">
    <xs:sequence>
      <xs:element type="xs:string" name="confidentiality"/>
      <xs:element type="xs:string" name="integrity"/>
      <xs:element type="xs:string" name="availability"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requirementType">
    <xs:sequence>
      <xs:element type="xs:string" name="identifier"/>
      <xs:element type="xs:string" name="title" minOccurs="0"/>
      <xs:element type="ciaType" name="cia" minOccurs="0"/>
      <xs:element type="descriptionType" name="description" minOccurs="0"/>
      <xs:element type="ethreatType" name="ethreat" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="basicRequirementsType">
    <xs:sequence>
      <xs:element type="requirementType" name="requirement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="standardRequirementsType">
    <xs:sequence>
      <xs:element type="requirementType" name="requirement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="highLevelRequirementsType">
    <xs:sequence>
      <xs:element type="requirementType" name="requirement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requirementsType">
    <xs:sequence>
      <xs:element type="descriptionType" name="description"/>
      <xs:element type="xs:string" name="mainResponsibleRole"/>
      <xs:element type="furtherResponsibleRolesType" name="furtherResponsibleRoles"/>
      <xs:element type="basicRequirementsType" name="basicRequirements"/>
      <xs:element type="standardRequirementsType" name="standardRequirements"/>
      <xs:element type="highLevelRequirementsType" name="highLevelRequirements"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibItemType">
    <xs:sequence>
      <xs:element type="xs:string" name="shortHand"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element name="description">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="introductionType" name="introduction" minOccurs="0"/>
            <xs:element type="purposeType" name="purpose" minOccurs="0"/>
            <xs:element type="differentiationType" name="differentiation" minOccurs="0"/>
            <xs:element type="xs:string" name="p" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliographyType">
    <xs:sequence>
      <xs:element type="bibItemType" name="bibItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementalThreatsType">
    <xs:sequence>
      <xs:element type="xs:string" name="elementalThreat" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ethreatType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="identifier" use="optional"/>
        <xs:attribute type="xs:string" name="isReferenced" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="crossreferencesType">
    <xs:sequence>
      <xs:element type="requirementType" name="requirement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element type="xs:string" name="fullTitle"/>
      <xs:element type="xs:string" name="identifier"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="lastChange"/>
      <xs:element type="xs:string" name="lastCheck"/>
      <xs:element type="xs:string" name="draftVersion"/>
      <xs:element type="xs:string" name="headerIcon"/>
      <xs:element type="descriptionType" name="description"/>
      <xs:element type="threatScenarioType" name="threatScenario"/>
      <xs:element type="requirementsType" name="requirements"/>
      <xs:element type="xs:string" name="advancedInformationText"/>
      <xs:element type="bibliographyType" name="bibliography"/>
      <xs:element type="elementalThreatsType" name="elementalThreats"/>
      <xs:element type="crossreferencesType" name="crossreferences"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>



